body {
    font-family: "Noto Sans JP", "Arial", "Meiryo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

p {
    font-size: 18px;
}

nav {
    font-size: 34px;
}

nav li{
    margin-left: 20px;
}

.header-inner {
    display: flex;
    justify-content: center;
    margin: 20px;
}

h1 {
    border: solid 1px #000000;
    padding: 5px;
    margin-right: 100px;
}

a {
    color: #000000;
    text-decoration: none;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 25px;
    list-style: none;
    font-weight: bold;
}

h2 {
    font-size: 34px;
    text-align: center;
}

.face {
    border-radius: 50%;
}

.name {
    font-size: 24px;
    font-weight: bold;

}

.about-inner {
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    margin: 20px;
}

.works-inner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 960px;
}

.works-item {
    display: inline-block;
    width: min-content;
    margin: 10px;
  }

footer {
    text-align: center;
}

@media screen and (max-width: 767px) {
    .works-inner {
        width: 100%;
        display: block;
        margin-left: 20px;
    }
    
    .about-inner {
        display: block;

    }

    h1 {
        margin-right: 20px;
        font-size: 20px;
    }
    
    nav {
        font-size: 20px;
    }
}